@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Roboto:ital,wght@0,400;1,700&display=swap");
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: black;
  scroll-behavior: smooth; }

.container {
  max-width: 90%;
  margin: 0 auto 0 auto; }

a {
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

li {
  display: inline-block; }

.button {
  background-color: #99734e;
  border: none;
  color: white;
  width: 20rem;
  height: 3.5rem;
  transition: all 1s;
  cursor: pointer; }
  .button:hover {
    width: 23rem;
    letter-spacing: 0.2rem; }

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; }

h2 {
  font-size: 5rem;
  text-align: center;
  padding: 1rem 0 1rem 0;
  color: white; }
  h2 span {
    color: #99734e; }

p {
  color: white;
  margin: 0;
  font-family: 'Hubballi', cursive;
  font-weight: 500; }

i {
  color: yellow; }

h3 {
  margin: 0; }

.borrarEnCarrito {
  background-color: red;
  border-radius: 50%;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white;
  font-weight: bold; }

.borrarFavorito {
  background-color: red;
  border-radius: 50%;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white;
  font-weight: bold; }

nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: black;
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 1rem;
  padding-top: 1rem; }
  nav .contenedor-nav {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    nav .contenedor-nav .nav-barra a {
      font-size: 1.5rem;
      padding-left: 2rem;
      color: white;
      padding-top: 1rem; }
      nav .contenedor-nav .nav-barra a:hover {
        color: #99734e;
        text-decoration: underline; }
    nav .contenedor-nav .nav-iconos div {
      color: white;
      font-size: 2.5rem;
      padding-left: 2rem;
      cursor: pointer; }
      nav .contenedor-nav .nav-iconos div:hover {
        color: #99734e; }
    nav .contenedor-nav .nav-action {
      display: none;
      position: absolute;
      right: 0;
      top: 100%;
      background-color: white;
      width: 40%;
      height: 90vh; }
      nav .contenedor-nav .nav-action ul {
        display: flex;
        flex-direction: column;
        height: 90vh; }
        nav .contenedor-nav .nav-action ul li {
          padding-top: 2rem; }
          nav .contenedor-nav .nav-action ul li a {
            color: black;
            font-size: 2rem;
            transition: all 1s; }
            nav .contenedor-nav .nav-action ul li a:hover {
              color: #99734e;
              text-decoration: underline; }
    nav .contenedor-nav .carrito {
      display: none;
      position: absolute;
      right: 0;
      top: 100%;
      z-index: 1;
      background-color: #f5f5f5;
      padding: 2rem;
      min-height: 40rem;
      min-width: 30rem; }
      nav .contenedor-nav .carrito table {
        margin: 0;
        width: 100%; }
        nav .contenedor-nav .carrito table thead {
          display: flex;
          justify-content: space-evenly;
          width: 100%; }
          nav .contenedor-nav .carrito table thead tr {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            padding-bottom: 1rem;
            border-bottom: 1px solid gray; }
            nav .contenedor-nav .carrito table thead tr th {
              font-size: 1.2rem; }
        nav .contenedor-nav .carrito table tbody {
          width: 100%; }
          nav .contenedor-nav .carrito table tbody tr {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 2rem 0;
            align-items: center; }
            nav .contenedor-nav .carrito table tbody tr td {
              font-size: 1.2rem; }
              nav .contenedor-nav .carrito table tbody tr td:nth-child(2) {
                width: 6.2rem; }
              nav .contenedor-nav .carrito table tbody tr td img {
                width: 5.5rem; }
      nav .contenedor-nav .carrito div {
        width: 100%;
        margin-top: 2rem;
        border: 1px solid gray;
        text-align: center;
        padding: 1.2rem 0;
        transition: all 0.2s; }
        nav .contenedor-nav .carrito div:hover {
          background-color: #9b8269; }
        nav .contenedor-nav .carrito div #vaciar-carrito {
          color: black;
          font-size: 1.2rem; }
    nav .contenedor-nav .favorito {
      display: none;
      position: absolute;
      right: 0;
      top: 100%;
      z-index: 1;
      background-color: #f5f5f5;
      padding: 2rem;
      min-height: 40rem;
      min-width: 30rem; }
      nav .contenedor-nav .favorito table {
        margin: 0;
        width: 100%; }
        nav .contenedor-nav .favorito table thead {
          display: flex;
          justify-content: space-evenly;
          width: 100%; }
          nav .contenedor-nav .favorito table thead tr {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            padding-bottom: 1rem;
            border-bottom: 1px solid gray; }
            nav .contenedor-nav .favorito table thead tr th {
              font-size: 1.2rem; }
        nav .contenedor-nav .favorito table tbody {
          width: 100%; }
          nav .contenedor-nav .favorito table tbody tr {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 2rem 0;
            align-items: center; }
            nav .contenedor-nav .favorito table tbody tr td {
              font-size: 1.2rem; }
              nav .contenedor-nav .favorito table tbody tr td:nth-child(2) {
                width: 6.2rem; }
              nav .contenedor-nav .favorito table tbody tr td img {
                width: 5.5rem; }
      nav .contenedor-nav .favorito div {
        width: 100%;
        margin-top: 2rem;
        border: 1px solid gray;
        text-align: center;
        padding: 1.2rem 0;
        transition: all 0.2s; }
        nav .contenedor-nav .favorito div:hover {
          background-color: #9b8269; }
        nav .contenedor-nav .favorito div #vaciar-favorito {
          color: black;
          font-size: 1.2rem; }
    nav .contenedor-nav .buscadorHtml {
      position: absolute;
      top: 120%;
      right: 7%;
      background: #fff;
      width: 50%;
      height: 2rem;
      display: flex;
      align-items: center;
      z-index: 1;
      display: none; }
      nav .contenedor-nav .buscadorHtml input {
        height: 100%;
        width: 100%;
        font-size: 1.6rem;
        padding: 1rem;
        text-transform: none; }

@media screen and (min-width: 821px) {
  .contenedor-nav .nav-iconos #nav-bar {
    display: none; } }

@media screen and (max-width: 820px) {
  .nav-barra {
    display: none; }
  .nav-iconos {
    display: flex; }
    .nav-iconos #nav-bar {
      display: block; } }

@media screen and (max-width: 436px) {
  .nav-action ul {
    padding-left: 1rem; } }

header {
  color: white;
  background-image: url("../img/home-img.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 10rem; }
  header div {
    padding: 5rem 0 0 5rem;
    max-width: 50%; }
    header div h1 {
      font-size: 5rem; }
    header div p {
      font-size: 2rem;
      line-height: 3rem; }
    header div input {
      margin-top: 2rem; }

@media screen and (max-width: 820px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0; }
    header div {
      width: 100%;
      padding: 5rem 0 2rem 0; } }

@media screen and (max-width: 500px) {
  header div h1 {
    text-align: center;
    font-size: 4rem; } }

section {
  color: white; }
  section .contenedor-nosotros {
    display: flex; }
    section .contenedor-nosotros .nosotros-imagen img {
      height: 45rem;
      width: 60rem;
      object-fit: cover; }
    section .contenedor-nosotros .nosotros-texto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 2rem 0 2rem; }
      section .contenedor-nosotros .nosotros-texto h3 {
        font-size: 3rem;
        padding-bottom: 2rem; }
      section .contenedor-nosotros .nosotros-texto p {
        font-size: 1.7rem;
        line-height: 3rem;
        padding-bottom: 2rem; }

@media screen and (max-width: 1036px) {
  section .contenedor-nosotros {
    flex-direction: column;
    align-items: center; }
    section .contenedor-nosotros .nosotros-imagen {
      width: 100%; }
      section .contenedor-nosotros .nosotros-imagen img {
        height: 45rem;
        width: 100%; }
    section .contenedor-nosotros input {
      margin-bottom: 2rem; }
    section .contenedor-nosotros .nosotros-texto {
      padding-top: 2rem; } }

main .main-tazaCafe {
  display: grid;
  grid-template-areas: "taza1 taza2 taza3" "taza4 taza5 taza6";
  gap: 1.5rem; }
  main .main-tazaCafe div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f5f5f5;
    padding: 5rem 0 5rem 0;
    transition: all 1s; }
    main .main-tazaCafe div:hover {
      background-color: white; }
      main .main-tazaCafe div:hover input, main .main-tazaCafe div:hover h4, main .main-tazaCafe div:hover p {
        color: black; }
    main .main-tazaCafe div h4 {
      font-size: 2rem;
      margin: 1rem 0; }
    main .main-tazaCafe div .taza-precio {
      display: flex;
      flex-direction: row;
      justify-content: center;
      border: none;
      height: 4rem;
      padding: 0;
      margin-bottom: 1rem; }
      main .main-tazaCafe div .taza-precio p:first-of-type {
        font-size: 3rem; }
      main .main-tazaCafe div .taza-precio p:last-of-type {
        text-decoration: line-through;
        font-size: 2rem;
        margin-left: 1rem; }
  main .main-tazaCafe .taza-1 {
    grid-area: taza1; }
  main .main-tazaCafe .taza-2 {
    grid-area: taza2; }
  main .main-tazaCafe .taza-3 {
    grid-area: taza3; }
  main .main-tazaCafe .taza-4 {
    grid-area: taza4; }
  main .main-tazaCafe .taza-5 {
    grid-area: taza5; }
  main .main-tazaCafe .taza-6 {
    grid-area: taza6; }

@media screen and (max-width: 769px) {
  main .main-tazaCafe {
    display: grid;
    grid-template-areas: "taza1 taza2 " "taza3 taza4 " "taza5 taza6"; } }

@media screen and (max-width: 481px) {
  main .main-tazaCafe {
    display: grid;
    grid-template-areas: "taza1" "taza2" "taza3 " " taza4" "taza5 " "taza6"; } }

.contenedor-cafe {
  display: grid;
  gap: 1.5rem;
  grid-template-areas: "cafeProducto1 cafeProducto2 cafeProducto3"; }
  .contenedor-cafe .cafe-producto-1 {
    grid-area: cafeProducto1; }
  .contenedor-cafe .cafe-producto-2 {
    grid-area: cafeProducto2; }
  .contenedor-cafe .cafe-producto-3 {
    grid-area: cafeProducto3; }
  .contenedor-cafe .cafe-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem 2rem 3rem;
    border: 1px solid #f5f5f5; }
    .contenedor-cafe .cafe-producto .cafe-producto-iconos {
      width: 50%;
      display: flex;
      justify-content: center;
      margin-bottom: 2rem; }
      .contenedor-cafe .cafe-producto .cafe-producto-iconos a {
        border: 1px solid #f5f5f5;
        padding: 1rem;
        font-size: 2rem;
        transition: all 0.2s;
        color: white; }
        .contenedor-cafe .cafe-producto .cafe-producto-iconos a:nth-child(2), .contenedor-cafe .cafe-producto .cafe-producto-iconos a:last-child {
          margin-left: 1rem; }
        .contenedor-cafe .cafe-producto .cafe-producto-iconos a:hover {
          background-color: #99734e; }
    .contenedor-cafe .cafe-producto .cafe-producto-descripcion {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .contenedor-cafe .cafe-producto .cafe-producto-descripcion h4 {
        font-size: 3rem;
        margin: 2rem 0 1rem 0; }
      .contenedor-cafe .cafe-producto .cafe-producto-descripcion i {
        font-size: 2rem; }
    .contenedor-cafe .cafe-producto .producto-precio {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 4rem;
      padding-top: 1rem; }
      .contenedor-cafe .cafe-producto .producto-precio p:first-of-type {
        font-size: 3rem; }
      .contenedor-cafe .cafe-producto .producto-precio p:last-of-type {
        text-decoration: line-through;
        font-size: 2rem;
        margin-left: 1rem; }

@media screen and (max-width: 769px) {
  .contenedor-cafe {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-areas: "cafeProducto1" "cafeProducto2" "cafeProducto3"; }
    .contenedor-cafe .cafe-producto {
      padding: 2rem 0 2rem 0;
      width: 70%;
      margin-bottom: 1.5rem; } }

.opinion-contenedor {
  display: grid;
  grid-template-areas: "comentario1 comentario2 comentario3";
  gap: 1.5rem; }
  .opinion-contenedor .opinion-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem 2rem 3rem;
    border: 1px solid #f5f5f5;
    text-align: center; }
    .opinion-contenedor .opinion-card .opinion-img-cliente {
      width: 7rem;
      border-radius: 50%; }
    .opinion-contenedor .opinion-card p {
      font-size: 2rem;
      line-height: 3rem; }
    .opinion-contenedor .opinion-card i {
      font-size: 2rem; }
  .opinion-contenedor .comentario-1 {
    grid-area: comentario1; }
  .opinion-contenedor .comentario-2 {
    grid-area: comentario2; }
  .opinion-contenedor .comentario-3 {
    grid-area: comentario3; }

@media screen and (max-width: 769px) {
  .opinion-contenedor {
    display: grid;
    grid-template-areas: "comentario1" "comentario2" "comentario3"; } }

#contacto span {
  font-size: 80%; }

.contenedor-contacto {
  display: flex;
  justify-content: center; }
  .contenedor-contacto .contacto1 {
    width: 50%; }
    .contenedor-contacto .contacto1 iframe {
      width: 100%;
      height: 100%; }
  .contenedor-contacto .contacto2 {
    background-color: #222222;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .contenedor-contacto .contacto2 form {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center; }
      .contenedor-contacto .contacto2 form .input {
        width: 90%;
        margin-bottom: 2rem;
        padding-left: 1rem;
        font-size: 1.5rem;
        height: 5rem;
        border: 1px solid #f5f5f5;
        background-color: black;
        color: white; }
      .contenedor-contacto .contacto2 form .button {
        margin-bottom: 2rem; }
    .contenedor-contacto .contacto2 h4 {
      font-size: 3rem; }

@media screen and (max-width: 769px) {
  .contenedor-contacto {
    flex-direction: column; }
    .contenedor-contacto .contacto1 {
      text-align: center;
      width: 100%; }
      .contenedor-contacto .contacto1 iframe {
        width: 100%;
        height: 20rem; }
    .contenedor-contacto .contacto2 {
      width: 100%; } }

.contenedor-blog {
  display: grid;
  grid-template-areas: "blog1 blog2 blog3";
  color: white;
  gap: 1.5rem; }
  .contenedor-blog .blog-card {
    border: 1px solid #f5f5f5; }
    .contenedor-blog .blog-card .blog-contenedor-img {
      overflow: hidden; }
      .contenedor-blog .blog-card .blog-contenedor-img img {
        width: 100%;
        transition: all 0.3s;
        object-fit: cover; }
        .contenedor-blog .blog-card .blog-contenedor-img img:hover {
          transform: scale(1.2); }
    .contenedor-blog .blog-card .contener-texto-blog {
      padding: 1rem 2rem 1em 2rem; }
      .contenedor-blog .blog-card .contener-texto-blog h4 {
        font-size: 3rem;
        margin: 0;
        width: 80%; }
      .contenedor-blog .blog-card .contener-texto-blog h5 {
        font-size: 2rem;
        color: #99734e;
        margin: 0;
        margin-top: 1rem; }
      .contenedor-blog .blog-card .contener-texto-blog p {
        font-size: 1.5rem; }
      .contenedor-blog .blog-card .contener-texto-blog input {
        background-color: #99734e;
        border: none;
        color: white;
        margin-top: 1rem;
        padding: 0; }
  .contenedor-blog .blog-1 {
    grid-area: blog1; }
  .contenedor-blog .blog-2 {
    grid-area: blog2; }
  .contenedor-blog .blog-3 {
    grid-area: blog3; }

@media screen and (max-width: 769px) {
  .contenedor-blog {
    grid-template-areas: "blog1"  "blog2"  "blog3"; } }

.footer-contenedor-redes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem; }
  .footer-contenedor-redes a {
    height: 2rem;
    width: 2rem;
    margin-left: 2rem;
    font-size: 2rem;
    border: 1px solid #f5f5f5;
    padding: 1.5rem;
    border-radius: 50%;
    transition: all 0.3s;
    display: flex;
    justify-content: center; }
    .footer-contenedor-redes a:first-of-type {
      margin: 0; }
    .footer-contenedor-redes a:hover {
      background-color: #99734e; }

.footer-contenedor-nav {
  margin-top: 2rem;
  height: auto; }
  .footer-contenedor-nav nav {
    border: none;
    display: flex;
    justify-content: center;
    height: auto;
    text-align: center; }
    .footer-contenedor-nav nav ul {
      padding: 0; }
      .footer-contenedor-nav nav ul li {
        margin: 1rem 0 0 2rem;
        font-size: 2rem;
        border: 1px solid #f5f5f5;
        padding: 1rem; }
        .footer-contenedor-nav nav ul li:hover {
          background-color: #99734e; }

.footer-derecho {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  text-align: center; }
  .footer-derecho span {
    color: #99734e; }
