html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: black;
    scroll-behavior: smooth;
}
.container{
    max-width: 90%;
    margin: 0 auto 0 auto;
} 

a{
    text-decoration: none;
    color:white;
}
li{
    display: inline-block;
}

.button{
    background-color: #99734e;
    border: none;
    color: white;
    width: 20rem;
    height: 3.5rem;
    transition: all 1s;
    cursor: pointer;

    &:hover{
        width: 23rem;
        letter-spacing: 0.2rem;
    }
}
h2{
    font-size: 5rem;
    text-align: center;
    padding:1rem 0 1rem 0;
    color: white;
    
    span{
        color: #99734e;
    }
}
p{
    color:white;
    margin: 0;
}
i{
    color: yellow;
}
h3{
    margin: 0;
}
.borrarEnCarrito{
    background-color: red;
    border-radius: 50%;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
}


@import "_nav";

@import "_header";

@import "_sobreNosotros";

@import "_main";

@import "_comentarios";

@import "_contacto";

@import "_blog";

@import "_footer";